<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <footer id="footer">
      <div class="logo_scan_vare">
        <img src="../public/images/scan.png" alt="scan vare">
        <p class="footer_text">Scan vare</p>
      </div>
      <div class="logo_indkøbsliste">
        <img src="../public/images/liste.png" alt="indkøbsliste">
        <p class="footer_text">Indkøbsliste</p>
      </div>
      <div class="logo_vejledning">
        <img src="../public/images/raadgivning.png" alt="rådgivning">
        <p class="footer_text">Vejledning</p>
      </div>
      <div class="logo_husket">
        <img src="../public/images/info.png" alt="Har du husket">
        <p class="footer_text">Har du husket</p>
      </div>
     
  </footer>
</body>
</html>