<!DOCTYPE html>
<html lang="en">
  <%- include head_includes %>
    <body>
      <%- include('header_bar.ejs'); -%>
        <main id="main_velkommen">
            
            <div id="popup" class="popup">
                <button id="popup_header_btn">&times;</button>
                  <div id="popup_header_text"><h2>Har du husket?</h2></div>
                <div id="popup_text">“Har du husket?”  er en feature, som skal hjælpe dig med at huske alle materialer til dit projekt. På den måde sparer du evt. en tur i vores byggemarked igen.</div>
                <div id="popup_content">
                  <img class="pensel" src="../public/images/pensel.png" alt="pensel">
                  <p>Pensler</p>
                  <img class="arrow_right" src="../public/images/arrow_right2.png" alt="pil">
                </div>
              </div>

            <svg id="svg" viewbox='0 0 305 500' width='305' height='500'xmlns='http://www.w3.org/2000/svg'>
                 <!-- polyline, a series of x y - coordinates -->
                <polyline points='2 2 300 2 300 400 280 400 260 450 240 400 2 400 2 2'
                        stroke='black' fill='white' stroke-width='1'/>
            </svg>


        </main>
        <%- include('footer_bar.ejs'); -%>
        <script src="../public/javascripts/popup.js"></script>
    </body>
</html>