<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../public/stylesheets/style.css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"/>
    <title>test</title>
  </head>
  <body>
   <header id="header">
      <div class="burgermenu">
        <img src="../public/images/menu.png" alt="burgermenu">
      </div>
      <div class="logo_header_bar">
        <a href="./velkommen">
          <img src="../public/images/logo_header_bar.png" alt="Silvan logo">
        </a>
      </div>
      <div class="user_kurv">
        <img src="../public/images/user.png" alt="user ikon">
        <img src="../public/images/kurv.png" alt="kurv ikon">
      </div>
   </header>
   
  </body>
</html>
