<html>
  <head>
    <%- include('head_includes.ejs'); -%>
  </head>
  <body>
    <main id="main_velkommen" class="index">
      <img class="btn_stor" src="../public/images/logo_frontpage.jpg" />
      <div class="heading">
        <h1><%= title %></h1>
      </div>
      <div class="content">
        <a href="/login">
          <div class="btn_stor">
            <p>Login</p>
          </div>
        </a>
        <a href="/signup">
          <div class="btn_stor">
            <p>Opret Bruger</p>
          </div>
        </a>
      </div>
    </main>
  </body>
</html>
