<!DOCTYPE html>
<html>
  <%- include('head_includes.ejs'); -%>
  <body>
    <%- include('header_bar.ejs'); -%>
   <main class="main_kvitteringer">
    <%- include('title_bar.ejs'); -%>
    <div class="main_div_kvitteringer">
      <div class="p_kvittering_date">
        <p>April 2022</p>
      </div>
      <div class="div_kvitteringer">
        <div class="div_kvitteringer_left">
          <u><p class="p_kvitteringer">5. April</p></u>
          <p class="p_kvitteringer">Silvan Kolding</p>
        </div>
        <div class="div_kvitteringer_right">
          <p>200 kr.</p>
          <div class="kvitteringer_item_arrow">
            <img src="../public/images/arrow_right2.png" alt="pil">
        </div>
        </div>
      </div>
      <br>
      <div class="p_kvittering_date">
        <p>Marts 2022</p>
      </div>
      <div class="div_kvitteringer">
        <div class="div_kvitteringer_left">
          <u><p class="p_kvitteringer">5. Marts</p></u>
          <p class="p_kvitteringer">Silvan Vejle</p>
        </div>
        <div class="div_kvitteringer_right">
          <p>100 kr.</p>
          <div class="kvitteringer_item_arrow">
            <img src="../public/images/arrow_right2.png" alt="pil">
        </div>
        </div>
      </div>
    </div>
    <br>
    </div>
    <a href="kvitteringer_udvidet">
      <div class="div_kvitteringer">
        <div class="div_kvitteringer_left">
          <u><p class="p_kvitteringer">10. Marts</p></u>
          <p class="p_kvitteringer">Silvan Vejle</p>
        </div>
        <div class="div_kvitteringer_right">
          <p>1390,90 kr.</p>
          <div class="kvitteringer_item_arrow">
            <img src="../public/images/arrow_right2.png" alt="pil">
        </div>
      </div>
    </a>
    </main>
    <footer>
      <%- include('footer_bar.ejs'); -%>
    </footer>
  </body>
</html>
