<!DOCTYPE html>
<html>
  <%- include('head_includes.ejs'); -%>

  <body>
    <%- include('header_bar.ejs'); -%>

   <main class="main_produktnavigering">
    <div style="display: flex; align-items: center; width: 100%; justify-content: space-between;">
       <div class="arrow_left_img" style="display: flex; align-items: center; width: 33%; justify-content: space-between;">
        <a href="/"><img src="../public/images/arrow_left.png" /></a>
        <!-- <img src="../public/images/arrow_left.png" alt="tilbage til indkøbsliste"> -->
       </div>
       <div  style="display: flex; justify-content: center; align-items: center; width: 33%;">
        <h1>kvitteringer</h1>
       </div>
       <div  style="display: flex; align-items: center; width: 33%;">
       </div>
      </div>
    <div class="produkt_oversigt" style="background-color: #ECF0F1">
      <img src="../public/images/lager_oversigt.png" alt="oversigt over produkt">
    </div>
      <div>
        <h4>Lokation</h4>
        <p>Lokationsnummer: 10</p>
        <p>Kig efter skiltning som siger: Maling.</p>
        <p>Hylden er imellem hylderne med: Værktøj og VVS </p>
      </div>
    </main>
    <footer>
      <%- include('footer_bar.ejs'); -%>
    </footer>

   
  </body>
</html>
