<!-- https://codepen.io/erikterwan/pen/EVzeRP -->
<nav role="navigation">
    <div id="menuToggle">
      <!--
      A fake / hidden checkbox is used as click reciever,
      so you can use the :checked selector on it.
      -->
      <input type="checkbox" />
      
      <!--
      Some spans to act as a hamburger.
      -->
      <span></span>
      <span></span>
      <span></span>

      <div class="menu-container">
          <div>
              <h1>Menu</h1>
          </div>
        <ul>
            <a href="/kategorier"><li><h3>Kategorier</h3></li></a>
            <a href="/scanvare"><li><h3>Scan varer</h3></li></a>
            <a href="#"><li><h3>Indkøbsliste</h3></li></a>
            <a href="/vejledning"><li><h3>Vejledning</h3></li></a>
            <a href="/harduhusket"><li><h3>Har du husket?</h3></li></a>
            <a href="/kurv"><li><h3>Indkøbskurv</h3></li></a>
            <a href="/kvitteringer"><li><h3>Kvitteringer</h3></li></a>
            <a href="/profile"><li><h3>Profil</h3></li></a>
            <a href="/logout"><li><h3>LOG UD</h3></li></a>
        </ul>
      </div>  
    </div>
  </nav>