<!DOCTYPE html>
<html>
  <body>
    <div id="popup" class="popup">
      
        <div id="popup_header">
          <h2>Har du husket?</h2>
          <button id="popup_header_btn">&times;</button>
        </div>
      <div id="popup_text">“Har du husket?”  er en feature, som skal hjælpe dig med at huske alle materialer til dit projekt. På den måde sparer du evt. en tur i vores byggemarked igen.</div>
      <% if (user.hjaelp == 1) { %>
      <% if (!locals.anbefalet) { %>
      
        <div id="popup_content">
          Vælg et produkt for at få vist anbefalede produkter
        </div>

      <% } else { %>

        <!-- Loop start -->
        <% anbefalet.forEach(function(anbefalet) { %> 
          <% if(anbefalet.vareundergruppe == '3640') { %>
            <a href="/vaegmaling">
            <% } else { %>
            <a href="/maling">
            <% } %>
        <div id="popup_content">
          
          <div class="popup_img">
            <img class="pensel" src="data:<%= anbefalet.contenttype %>;base64,<%= anbefalet.billede.toString('base64') %>" alt="<%= anbefalet.beskrivelse %>">
          </div>
          <p><%= anbefalet.beskrivelse %></p>
          <img class="arrow_right" src="../public/images/arrow_right2.png" alt="pil">
        </div>

        <% }); %>
        <!-- Loop end -->  

      <% } %> 
      <% }else{ %> 
        <div id="popup_text">“Har du husket?” features skal aktiveres i profilen for at få vist relaterede vare.</div>

      <% } %> 

  </div>
  </body>
</html>