<!DOCTYPE html>
<html>
  <body>
    <div id="popup" class="popup">
        <button id="popup_header_btn">&times;</button>
          <div id="popup_header_text"><h2>Har du husket?</h2></div>
        <div id="popup_text">“Har du husket?”  er en feature, som skal hjælpe dig med at huske alle materialer til dit projekt. På den måde sparer du evt. en tur i vores byggemarked igen.</div>
        <div id="popup_content">
          <img class="pensel" src="../public/images/pensel.png" alt="pensel">
          <p>Pensler</p>
          <img class="arrow_right" src="../public/images/arrow_right2.png" alt="pil">
        </div>
      </div>
  </body>
</html>