<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../public/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"
    />
    <title>test</title>
  </head>
  <body>
    <div class="login-page">
      <div class="form index">
        <h1>Profile Page</h1>
        <p>
          <strong>id</strong>: <%= user.id_user %><br />
          <strong>username</strong>: <%= user.navn %><br />
          <strong>test1</strong>: <%= user.email %><br />
          <strong>password</strong>: <%= user.password %><br />
        </p>
        <button><a href="/logout">Logout</a></button>
      </div>
    </div>
  </body>
</html>
