<html>
  <head>
    <%- include('head_includes.ejs'); -%>
  </head>
  <body>
    <main id="main_velkommen" class="signup">
      <!-- <%- include('title_bar.ejs'); -%> -->
      <div class="heading">
        <a href="/"><i class="fas fa-arrow-left"></i></a>
        <h1><%= title %></h1>
      </div>
      <% if (message.length > 0) { %>
      <div class="btn_stor alert alert-danger"><%= message %></div>
      <% } %>
      <form class="login-form" action="/signup" method="post">
        <div class="content">
          <div class="btn_stor">
            <input type="text" placeholder="Navn" name="username" required />
          </div>
          <div class="btn_stor">
            <input type="email" placeholder="E-mail" name="email" required />
          </div>
          <div class="btn_stor">
            <input type="text" placeholder="Telefon" name="telefon" required />
          </div>
          <div class="btn_stor">
            <input type="text" placeholder="Adresse" name="adresse" required />
          </div>
          <div class="btn_stor">
            <input type="text" placeholder="By" name="_by" required />
          </div>
          <div class="btn_stor">
            <input
              type="text"
              placeholder="Postnummer"
              name="postnummer"
              required
            />
          </div>
          <div class="btn_stor">
            <input
              type="password"
              placeholder="Kodeord"
              name="password"
              required
            />
          </div>
          <p>
            <b>OBS!</b><br />
            Nedenstående felt skal kun udfyldes, hvis du skal oprette en
            erhvervskonto.
          </p>
          <div class="btn_stor">
            <input type="text" placeholder="CVR" name="cvr" />
          </div>
          <div class="btn_stor">
            <button type="submit">Opret</button>
          </div>
        </div>
      </form>
    </main>
  </body>
</html>
