<html>
  <head>
    <%- include head_includes %>
  </head>
  <body>
    <main id="main_velkommen" class="signup">
      <div class="heading">
        <a href="/"><img src="../public/images/arrow_left.png" /></a>
        <h1><%= title %></h1>
      </div>
      <% if (message.length > 0) { %>
      <div class="btn_stor alert alert-danger"><%= message %></div>
      <% } %>
      <form class="login-form" action="/signup" method="post">
        <div class="content">
          <div class="btn_stor">
            <input type="text" placeholder="Navn" name="username" required />
          </div>
          <div class="btn_stor">
            <input type="email" placeholder="E-mail" name="email" required />
          </div>
          <div class="btn_stor">
            <input type="text" placeholder="Telefon" name="telefon" required />
          </div>
          <div class="btn_stor">
            <input type="text" placeholder="Adresse" name="adresse" required />
          </div>
          <div class="btn_stor">
            <input type="text" placeholder="By" name="_by" required />
          </div>
          <div class="btn_stor">
            <input
              type="text"
              placeholder="Postnummer"
              name="postnummer"
              required
            />
          </div>
          <div class="btn_stor">
            <input
              type="password"
              placeholder="Kodeord"
              name="password"
              required
            />
          </div>
          <div class="btn_stor">
            <button type="submit">Opret</button>
          </div>
        </div>
      </form>
    </main>
  </body>
</html>
