<!DOCTYPE html>
<html>
  <%- include('head_includes.ejs'); -%>

  <body>
    <%- include('header_bar.ejs'); -%>

   <main>
     
    </main>
    <footer>
      <%- include('footer_bar.ejs'); -%>
    </footer>

   
  </body>
</html>
