<!DOCTYPE html>
<html>
  <%- include('head_includes.ejs'); -%>

  <body>
    <%- include('header_bar.ejs'); -%>

   <main>
     
    </main>
    <%- include('footer_bar.ejs'); -%>

   
</footer>
   
  </body>
</html>
