<div class="div_title_bar">
    <div class="arrow_left_img">
     <a <%= arrrow_back %>><img src="../public/images/arrow_left.png" /></a>
    </div>
    <div class="div_title">
        <h1><%= title_bar %></h1>
    </div>
    <div class="div_empty_div">
    </div>
   </div>