@import url("//use.fontawesome.com/releases/v5.15.3/css/all.css");
:root {
  --color-white: #fff;
  --color-black: #000;
  --color-grey: hsl(240, 4%, 85%);
  --color-light: hsl(192, 15%, 94%);
  --color-dark: hsl(209, 96%, 9%);
  --color-primary: hsl(204, 100%, 16%);
  --color-accent: hsl(13, 87%, 57%);

  color: var(--color-black);
}

body {
  font-family: "Barlow", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  margin: 1em 0;
}

h3 {
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

a:hover {
  text-decoration: none;
}

main {
  width: 100%;
  min-height: 81vh;
}
/******************************************TITLE BAR**************************************************************************/
.div_title_bar {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.div_title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33%;
}
.div_empty_div {
  display: flex;
  align-items: center;
  width: 33%;
}
.arrow_left_img {
  display: flex;
  align-items: center;
  width: 33%;
  justify-content: space-between;
}
.arrow_left_img a img {
  width: 1.5em;
}
.arrow_left_img a {
  margin-left: 25%;
}

/******************************************HEADER_BAR**************************************************************************/
#header {
  width: 100%;
  height: 60px;
  padding: 2em;
  background-color: var(--color-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burgermenu,
.logo_header_bar,
.user_kurv {
  width: 33%;
}

.logo_header_bar {
  display: flex;
  justify-content: center;
}

.user_kurv {
  display: flex;
  justify-content: flex-end;
}

.burgermenu img,
.logo_header_bar img {
  width: 3em;
}

.user_kurv img {
  width: 2em;
  margin: 0 1em;
}

@media screen and (max-width: 400px) {
  .user_kurv img {
    margin: 0 0.5em;
  }
}

/******************************************Menu**************************************************************************/

#menuToggle
{
  display: block;
  position: relative;

  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 3em;
  height: 3em;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 3rem;
  height: 0.3rem;
  margin-bottom: 5px;
  position: relative;
  
  background: var(--color-white);
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), 
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: var(--color-black);
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}


/*
 * Make this absolute positioned
 * at the top left of the screen
 */

.menu-container
{
  position: absolute;
  margin: -3em 0 0 -50px;
  background-color: var(--color-light);
  min-height: 300px;
  width: 20em;
  display:flex;
  flex-direction: column;
  align-items:center;

  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.menu-container h1
{
  padding-left: 1em;
}

.menu-container h3
{
  margin: 0 0;
  position:relative;
  text-transform: uppercase;
}

.menu-container div:first-child
{
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: row;
  border-bottom: 1px solid var(--color-black);
}

.menu-container ul 
{
  list-style-type: none;
  width: 100%;
}

.menu-container a
{
  text-decoration: none;
  color: var(--color-black);
  transition: color 0.3s ease;
  
}
/* Hover color */
.menu-container li:hover
{
  background-color: var(--color-primary);
  color:var(--color-white);
}

/* Menu items */
.menu-container li
{
  display:flex;
  flex-direction: row;
  padding-left: 1em;
  min-height: 4em;
  border-bottom: 1px solid var(--color-grey);
  align-items:center;
  justify-content: space-between;
}
/* Black line under the 5th item */
.menu-container ul a:nth-child(5) li
{
  border-bottom: 1px solid var(--color-black);
}
/* Make last item accent color (Logout) */
.menu-container ul a:last-child li
{
  background-color: var(--color-accent);
}

.menu-container li::after
{ 
  content: '';
  background-image: url(../images/arrow_right2.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 1em;
  position: relative;
  padding-right:2em;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ .menu-container
{
  transform: none;
}


/**************************************************************************************************************************************/
/******************************************************footer*******************************************************/

#footer {
  width: 100%;
  height: 80px;
  background-color: var(--color-primary);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer_text {
  color: white;
  font-weight: bold;
  font-size: 12px;
}

.logo_scan_vare,
.logo_indkøbsliste,
.logo_vejledning,
.logo_husket {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo_scan_vare img,
.logo_indkøbsliste img,
.logo_vejledning img,
.logo_husket img {
  width: 2em;
  margin: 0.5em;
}

/**********************************************************************************************************************************/
/******************************************************kvitteringer****************************************************************/
.main_kvitteringer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.div_kvitteringer{
  background-color: var(--color-light);
  width: 100%;
  height: 30%;
  display: flex;
  padding: 0.5em;
}

.div_kvitteringer a{
  display: flex;
  width: 100%;
}

.kvitteringer_item_arrow {
  width: 10%;
}
.kvitteringer_item_arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}
.kvitteringer_item_arrow img {
  width: 0.5em;
}
.div_kvitteringer_right {
  width: 70%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.div_kvitteringer_right p {
  margin:0 1em 0 0;
}
.div_kvitteringer_left {
  width: 30%;
}
.main_div_kvitteringer {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.p_kvittering_date {
  display: flex;
  justify-content: center;
}
/******************************************************kvitteringer udvidet****************************************************************/
.main_kvitteringer_udvidet {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.kvitteringer_item {
  width: 100%;
  background-color: var(--color-light);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5em;
  margin: 0.5em 0;
  font-size:14px;
  min-height: 111px;
}
.kvitteringer_item_img{
  width:40%;
  display: flex;
  justify-content:center;
  align-items: center;
}
.kvitteringer_item_text{
  width:60%;
  display: flex;
  justify-content:center;
  align-items: flex-start;
  flex-direction: column;

}
.kvitteringer_item_total{
  width: 100%;
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin-top: 1em;
}
.div_kvitteringer_udvidet {
  background-color: var(--color-light);
  width: 100%;
  height: 30%;
  display: flex;
  padding: 0.5em;
}
.kvitteringer_item_img img{
  width:5em;
}
.p_kvitteringer{
  margin:0;
  display: flex;
  justify-content:space-around;
  align-items: center;
}
.kvitteringer_item_img {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.kvitteringer_item_img img {
  width: 8em;
}
.kvitteringer_item_text {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.kvitteringer_item_heading {
  margin: 0.5em;
}
.kvitteringer_item_total {
  display: flex;
  justify-content: space-between;
  margin: 0.5em;
}
/******************************************************indkøbsliste******************************************************/
.liste_item {
  width: 100%;
  background-color: var(--color-light);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
  margin: 0.5em 0;
  font-size: 0.8em;
  min-height: 111px;
}
.liste_item_img {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.liste_item_text {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.liste_item_heading {
  margin: 0.5em;
}
.liste_item_total {
  display: flex;
  justify-content: space-between;
  margin: 0.5em;
}
.liste_item_img img {
  width: 8em;
}
/******************************************************navigering til produkt******************************************************/

.main_produktnavigering {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.produkt_oversigt img {
  width: 98%;
  background-color: #ecf0f1;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.produkt_oversigt img {
  width: 100%;
}

/******************************************************Produkt-informationer side*******************************************************/
.main_produkt_informationer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.main_produkt_informationer a {
  width: 100%;
}

.produkt_item_img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.produkt_item_img img {
  width: 10em;
}
.produkt_btn {
  width: 12em;
  height: 2.5em;
  background-color: var(--color-accent);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  border: none;
  color: var(--color-white);
  margin-top: 2em;
}
.produkt_kort_btn {
  width: 8em;
  height: 2.5em;
  background-color: var(--color-accent);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  border: none;
  color: var(--color-white);
  margin-top: 2em;
  margin-right: 3em;
}
.produkt_pris_btn {
  width: 6em;
  height: 2.5em;
  background-color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  border: none;
  color: var(--color-white);
  margin-top: 2em;
}
.produkt_div_text {
  width: 70%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.produkt_div_text p {
  margin: 0;
}
.div_button {
  width: 100%;
  justify-content: space-around;
  align-items: center;
  display: flex;
  padding-bottom: 5%;
  border-bottom: 1px solid black;
}
.div_innerdiv_button {
  width: 20%;
}
.div_information_text {
  width: 70%;
}
.div_kort_button {
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  display: flex;
  padding-bottom: 5%;
  border-bottom: 1px solid black;
}
.inner_div_kort__button {
  width: 37%;
}

/**********************************************************************************************************************************/
/* ---------------------------- Scan vare --------------------------------------------*/

.main_scanning {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color:var(--color-grey);
  
}
.main_scanning h1{
  text-align: center;
  
}


.scan_buttons {
  display:flex;
  flex-direction: column;
  align-items: center;
}
.scan_buttons button {
  width: min(20em, 100%);
}


.scan-border{
  background-color: var(--color-grey);
  width: 70%;
  height: 40em;
  display: flex;
  justify-content: center;
  align-items: center;

  /**Making a cornered border**/
  --b:0.8em;   /* thickness of the border */
  --c:var(--color-white);   /* color of the border */
  --w:3em;  /* width of border */
  

  border:var(--b) solid transparent; /* space for the border */
  --g:#0000 90deg,var(--c) 0;
  background:
    conic-gradient(from 90deg  at top    var(--b) left  var(--b),var(--g)) 0    0,
    conic-gradient(from 180deg at top    var(--b) right var(--b),var(--g)) 100% 0,
    conic-gradient(from 0deg   at bottom var(--b) left  var(--b),var(--g)) 0    100%,
    conic-gradient(from -90deg at bottom var(--b) right var(--b),var(--g)) 100% 100%;
  background-size:var(--w) var(--w);
  background-origin:border-box;
  background-repeat:no-repeat;
}

.scan-border::after{
  content: '';
  background-image: url('../images/scan.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  height: 4em;
  width: 4em;
}

.scan-click {
  background-image: url('../images/malerbøtte.png');
  background-position: center;
  background-size: contain;
}

/* ---------------------------- Scan og vælg vare --------------------------------------------*/
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


/* ---------------------------- VELKOMMEN OG VEJLEDNING --------------------------------------------*/

#main_velkommen,
#main_vejledning {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn_stor {
  width: 20em;
  height: 4em;
  background-color: var(--color-primary);
  color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  margin: 1em 0;
}

.btn_stor p {
  font-size: 16px;
  color: var(--color-white);
  margin: 0;
}

/* --------------------------------------------------- Kategorier --------------------------------------------*/

#main_kategorier, #main_vaegmaling {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#searchbar {
  width: 80%;
  height: 3em;
  border-radius: 10em;
  background-color: var(--color-grey);
  padding: 1em;
  margin: 1em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.searchbar_text p {
  margin: 0;
}

.searchbar_img img {
  width: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 0.5em;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-item img {
  width: 8em;
  position: relative;
}

.grid-item a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-item p {
  color: var(--color-white);
  font-size: 16px;
  font-weight: 700;
  margin: 0;
  position: absolute;
  text-transform: uppercase;
}

.text_wrap {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

/* --------------------------------------------------- VÆGMALING --------------------------------------------*/

#varer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:1em;
  flex-wrap: wrap;
}

.vare{
  width:40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 1em;
}
.vare img{
  width:8em;
  text-align: center;
}

.vare p{
  font-weight: 700;
  text-align: center;
  margin-bottom:1em;
}

.pris{
  color: var(--color-dark);
  font-weight: 700;
}


/********************************HAR DU HUSKET?***********************************************/

#popup {
  width: 300px;
  max-width: 80%;
  height: 400px;
  position: fixed;
  background-color: var(--color-white);
  border: 1px solid #000;
  z-index: 10;
  display: none;
  position: absolute;
  right: 0;
  bottom: 5em;
}

#popup_header_btn {
  width: 100%;
  height: 1em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 50px;
  margin: 0;
}

#popup_header_text {
  display: flex;
  justify-content: center;
  align-items: center;
}

#popup_text {
  padding: 1em 2em;
}

#popup_content {
  width: 100%;
  height: 10em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-light);
}

#popup_content .pensel {
  width: 8em;
}

#popup_content .arrow_right {
  width: 1em;
}

#popup_content p {
  margin: 0;
  font-size: 22px;
}

#svg {
  position: absolute;
  right: 0.5em;
  bottom: 0;
}

#popup_btn {
  position: relative;
}

/********************************INDKØBSKURV***********************************************/

#kurv_items {
  width: 100%;
}

.kurv_item_1,
.kurv_item_2 {
  width: 100%;
  background-color: var(--color-light);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
  margin: 0.5em 0;
  min-height: 150px;
}

.kurv_item_img {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.kurv_item_img img {
  width: min(15em, 100%);
}

.kurv_item_text {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.kurv_item_heading,
.kurv_item_quantity {
  margin: 0.5em;
}

.kurv_item_total {
  display: flex;
  justify-content: space-between;
  margin: 0.5em;
}

#subtotal {
  width: 100%;
  height: 4em;
  background-color: var(--color-light);
  display: flex;
  align-items: center;
  padding: 1em;
  margin-top: 1em;
}

.subtotal {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.kurv_btn {
  width: 12em;
  height: 3.5em;
  background-color: var(--color-accent);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  border: none;
  color: var(--color-white);
  margin-top: 2em;
}

#harduhusket {
  width: 100%;
}

.harduhusket_heading p {
  width: 100%;
  font-size: 20px;
  padding-bottom: 1em;
  margin-top: 2em;
  border-bottom: 1px solid var(--color-primary);
  text-align: center;
}

.harduhusket_item {
  width: 100%;
  min-height: 140px;
  display: flex;
  border-bottom: 1px solid var(--color-primary);
}

.harduhusket_item_img,
.harduhusket_item_text,
.harduhusket_item_arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.harduhusket_item_img {
  width: 45%;
}

.harduhusket_item_text {
  width: 70%;
}

.harduhusket_item_arrow {
  width: 20%;
}

.harduhusket_item_img img {
  width: 8em;
}

.harduhusket_item_text p {
  margin: 0;
  font-size: 22px;
}

.harduhusket_item_arrow img {
  width: 1em;
}

/********************************INDEX PAGE***********************************************/

body .index {
  background-color: var(--color-primary);
  height: 100%;
}

body .index .heading {
  color: var(--color-white);
}

body .index .btn_stor {
  object-fit: cover;
  background-color: var(--color-white);
}

body .index .btn_stor p {
  color: var(--color-dark);
}

/********************************LOGIN PAGE***********************************************/

body .login {
  background-color: var(--color-white);
  height: 100%;
  justify-content: unset !important;
}

body .login #main_velkommen {
  margin-top: 5%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

body .login .heading {
  color: var(--color-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20em;
  position: relative;
  margin-top: 5%;
}

body .login .heading a {
  display: contents;
}

body .login i {
  height: 20px;
  position: absolute;
  left: 0;
}

body .login input {
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: var(--color-primary);
  color: var(--color-white);
  border: none;
  font-size: 16px;
}

body .login input::placeholder {
  color: var(--color-white);
  font-weight: 700;
  font-size: 16px;
}

body .login .message {
  text-align: center;
}

body .login .message a {
  color: var(--color-dark);
  text-decoration: underline;
}

body .login p {
  width: 20em;
  text-align: inherit;
}

body .login button {
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: var(--color-accent);
  color: var(--color-white);
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
}

body .login .alert-danger {
  background-color: #f2dede;
}

/* LOGIN PAGE MEDIA QUERIES*/

@media screen and (max-width: 600px) {
  body .login .heading {
    margin-top: 10%;
  }
}

/********************************SIGNUP PAGE***********************************************/

body .signup {
  background-color: var(--color-white);
  height: 100%;
  justify-content: unset !important;
}

body .signup #main_velkommen {
  margin-top: 5%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

body .signup .heading {
  color: var(--color-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20em;
  position: relative;
  margin-top: 5%;
}

body .signup .heading a {
  display: contents;
}

body .signup i {
  height: 20px;
  position: absolute;
  left: 0;
}

body .signup input {
  height: 100%;
  width: 100%;
  padding-left: 20px;
  background-color: var(--color-primary);
  color: var(--color-white);
  border: none;
  font-weight: 700;
  font-size: 16px;
}

body .signup input::placeholder {
  color: var(--color-white);
  font-weight: 700;
  font-size: 16px;
}

body .signup .message {
  text-align: center;
}

body .signup .message a {
  color: var(--color-dark);
  text-decoration: underline;
}

body .signup p {
  width: 20em;
  text-align: inherit;
}

body .signup button {
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: var(--color-accent);
  color: var(--color-white);
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
}

body .signup .alert-danger {
  background-color: #f2dede;
}

/* SIGNUP PAGE MEDIA QUERIES*/

@media screen and (max-width: 600px) {
  body .signup .heading {
    margin-top: 10%;
  }

  body .content {
    margin-bottom: 25%;
  }
}

/********************************PROFILE PAGE***********************************************/

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20em;
  margin: 10% auto 10%;
}

.profile h1 {
  margin: 0;
}

.profile p {
  margin: 10px 0 30px;
}

.profileHeader {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.profileHeader .fa-arrow-left {
  position: absolute;
  left: 0;
}

.profileInfo {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profileInfo p {
  margin: 0;
}

.profileContent li {
  list-style: none;
  border-top: 1px solid var(--color-black);
}

.profileContent li:last-child {
  border-bottom: 1px solid var(--color-black);
}

.profileContent a {
  color: var(--color-black);
}

.profileContent a:hover {
  text-decoration: none;
}

/* PROFILE PAGE MEDIA QUERIES*/

@media screen and (max-width: 600px) {
  .profile {
    width: 100%;
  }

  .profileInfo {
    padding: 0px 20px 0px 20px;
  }

  .profileHeader .fa-arrow-left {
    margin-left: 20px;
  }
}

/********************************INDSTILLINGER PAGE***********************************************/

.indstillinger .profileHeader {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  align-content: center;
  margin-bottom: 2em;
}

.indstillinger .profileInfo {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.indstillinger .profileContent li:first-child {
  border-top: none;
}

.indstillinger .profileHeader a {
  display: contents;
}

.indstillingerbtn {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.indstillingerbtn button {
  background-color: var(--color-accent);
  color: var(--color-white);
  border: none;
  cursor: pointer;
  font-weight: 700;
  padding: 8px 20px;
}
/********************************FONT AWESOME STYLES***********************************************/

.fa-user-circle {
  font-size: 10rem;
  color: var(--color-black);
}

.fa-arrow-left {
  font-size: 2rem;
  color: var(--color-black);
}

.fa-arrow-right {
  font-size: 2rem;
  color: var(--color-black);
}

.fa-toggle-on {
  font-size: 2rem;
  color: var(--color-black);
}
